.sign_up{
  background: -webkit-linear-gradient(to right, #00ff0de1, #4CAD48);
  background: linear-gradient(to right, #00ff0de1, #4CAD48);
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  margin:100px;
  border-radius: 15px;
}
.sign_up input[type=text], input[type=password] {
  width: 98%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.sign_up input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.sign_up input{
  border-radius: 15px;
}
.sign_up hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.sign_up button {
  background-color: rgba(37, 211, 102, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.sign_up button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.sign_up .cancelbtn {
  padding: 14px 20px;
  background-color: #FF416C;
}

/* Float cancel and signup buttons and add an equal width */
.sign_up .cancelbtn, .signupbtn {
  width: 50%;
}

/* Add padding to container elements */
.sign_up .container {
  padding: 16px;
}
.sign_up .clearfix {
 display:  flex;
}
.sign_up .clearfix > button{
  margin: 25px;
  border-radius: 25px;
}
/* Clear floats */
.sign_up .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}