@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}
body {
	
	/* The image used */
	background-image: url("./ULT.jpg");

	/* Full height */
	height: 100%; 
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
